.link-pretty{
    font-weight: bold;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: transparent;
    border: none;
    border-radius: 2px;
    color: rgb(0,0,0);
    display: block;
    position: relative;
    height: 56px;
    min-width: 64px;
    padding: 0 8px;
    display: inline-block;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow, transform;
    -webkit-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 26px;
    vertical-align: middle;
}
a:hover{
    text-decoration: none !important;
}
.form-glass input[type=text], .form-glass, .form-glass textarea{ background-color: transparent; border:none; outline: none; }

/*scroll bar*/
::-webkit-scrollbar {
    width: 2px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
    display: none;
}

::-webkit-scrollbar-track-piece  {
    background-color: #fff;
}

::-webkit-scrollbar-button{
    padding: 20px 0;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #F44336;
    -webkit-border-radius: 1px;
    border:20px;
    cursor:pointer;

}